force_update: 
  description: Force your vehicle to update its data. All vehicles on the same account as the vehicle selected will be updated.
  fields: 
    device_id: 
      name: Vehicle
      description: Target vehicle
      required: true
      selector: 
        device: 
          integration: kia_uvo
update: 
  description: Update vehicle data from service cache
  fields: 
    device_id: 
      name: Vehicle
      description: Target vehicle
      required: true
      selector: 
        device: 
          integration: kia_uvo
start_climate:
  description: Please use cautiously - Starts climate and engine.  Not all options are available on all cars or regions.  Use your cars mobile app as a guide and match the options available in your car. 
  fields: 
    device_id:
      name: Vehicle
      description: Target vehicle
      required: true
      selector: 
        device: 
          integration: kia_uvo
    duration:
      name: Duration
      description: On Duration
      required: false
      example: 5
      default: 5
      selector:
        number:
            min: 1
            max: 10
            step: 1
            unit_of_measurement: minutes
    climate:
      name: Climate
      description: Enable the HVAC System
      required: true
      default: true  
      selector:
        boolean: 
    temperature:
      name: Temperature
      description: Set temperature of climate control. Unit is specific to region.
      required: true
      example: 21.5
      default: 21
      selector:
        number:
            min: 16
            max: 85
            step: 0.5
            mode: box
            unit_of_measurement: Degrees
    defrost:
      name: Defrost
      description: Front Windshield Defrost
      required: false
      default: false
      selector:
        boolean:
    heating:
      name: Heating
      description: Heated features like the steering wheel and rear window
      required: false
      example: false
      default: false  
      selector:
        select:  
          options:
            - "Off"
            - "Steering Wheel and Rear Window"
            - "Rear Window Only"
            - "Steering Wheel Only"
    flseat:
      name: Front Left Seat
      description: Front Left Seat Heat Cool Setting
      required: false
      selector:
        select:
          options:  
            - "Off"
            - "On"
            - Low Cool
            - Medium Cool
            - High Cool
            - Low Heat 
            - Medium Heat
            - High Heat
    frseat:
      name: Front Right Seat
      description: Front Right Seat Heat Cool Setting
      required: false
      selector:
        select:
          options:  
            - "Off"
            - "On"
            - Low Cool
            - Medium Cool
            - High Cool
            - Low Heat 
            - Medium Heat
            - High Heat    
    rlseat:
      name: Rear Left Seat
      description: Rear Left Seat Heat Cool Setting
      required: false
      selector:
        select:
          options:  
            - "Off"
            - "On"
            - Low Cool
            - Medium Cool
            - High Cool
            - Low Heat 
            - Medium Heat
            - High Heat
    rrseat:
      name: Rear Right Seat
      required: false
      selector:
        select:
          options:  
            - "Off"
            - "On"
            - Low Cool
            - Medium Cool
            - High Cool
            - Low Heat 
            - Medium Heat
            - High Heat
stop_climate:
  description: Please use cautiously - stop car and climate
  fields: 
    device_id: 
      name: Vehicle
      description: Target vehicle 
      required: true
      selector: 
        device: 
          integration: kia_uvo
start_charge:
  description: Start charging
  fields: 
    device_id: 
      name: Vehicle
      description: Target vehicle
      required: true
      selector: 
        device: 
          integration: kia_uvo
stop_charge:
  description: Stop charging
  fields: 
    device_id: 
      name: Vehicle
      description: Target vehicle
      required: true
      selector: 
        device: 
          integration: kia_uvo
lock:
  description: Lock the vehicle
  fields: 
    device_id: 
      name: Vehicle
      description: Target vehicle
      required: true
      selector: 
        device: 
          integration: kia_uvo
unlock:
  description: Unlock the vehicle
  fields: 
    device_id: 
      name: Vehicle
      description: Target vehicle
      required: true
      selector: 
        device: 
          integration: kia_uvo
set_charge_limits:
  description: sets ac and dc charge capacity limits
  fields:
    device_id: 
      name: Vehicle
      description: Target vehicle
      required: true
      selector: 
        device: 
          integration: kia_uvo
    dc_limit:
      name: DC Charge limit
      description: max charge capacity using DC charger
      required: false
      example: 50
      default: 90
      selector:
        number:
            min: 50
            max: 100
            step: 10
            unit_of_measurement: '%'
    ac_limit:
      name: AC Charge limit
      description: max charge capacity using AC charger
      required: false
      example: 50
      default: 90
      selector:
        number:
            min: 50
            max: 100
            step: 10
            unit_of_measurement: '%'
