force_update:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
update:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
start_climate:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
    duration:
      required: false
      example: 5
      default: 5
      selector:
        number:
          min: 1
          max: 30
          step: 1
          unit_of_measurement: minutes
    climate:
      required: true
      default: true
      selector:
        boolean:
    temperature:
      required: true
      example: 21.5
      default: 21
      selector:
        number:
          min: 16
          max: 85
          step: 0.5
          mode: box
          unit_of_measurement: Degrees
    defrost:
      required: false
      default: false
      selector:
        boolean:
    heating:
      required: true
      example: false
      default: false
      selector:
        select:
          options:
            - label: "Off"
              value: "0"
            - label: "Steering Wheel(not EU), Side and Back Defroster"
              value: "4"
            - label: "Rear Window Only"
              value: "2"
            - label: "Steering Wheel Only(None EU only)"
              value: "3"
    steering_wheel:
      required: false
      example: 1
      default: 0
      selector:
        select:
          options:
            - label: "Off"
              value: "0"
            - label: "Low"
              value: "1"
            - label: "High"
              value: "2"
    flseat:
      required: false
      selector:
        select:
          options:
            - label: "Off"
              value: "0"
            - label: "On"
              value: "1"
            - label: "Low Cool"
              value: "3"
            - label: "Medium Cool"
              value: "4"
            - label: "High Cool"
              value: "5"
            - label: "Low Heat"
              value: "6"
            - label: "Medium Heat"
              value: "7"
            - label: "High Heat"
              value: "8"
    frseat:
      required: false
      selector:
        select:
          options:
            - label: "Off"
              value: "0"
            - label: "On"
              value: "1"
            - label: "Low Cool"
              value: "3"
            - label: "Medium Cool"
              value: "4"
            - label: "High Cool"
              value: "5"
            - label: "Low Heat"
              value: "6"
            - label: "Medium Heat"
              value: "7"
            - label: "High Heat"
              value: "8"
    rlseat:
      required: false
      selector:
        select:
          options:
            - label: "Off"
              value: "0"
            - label: "On"
              value: "1"
            - label: "Low Cool"
              value: "3"
            - label: "Medium Cool"
              value: "4"
            - label: "High Cool"
              value: "5"
            - label: "Low Heat"
              value: "6"
            - label: "Medium Heat"
              value: "7"
            - label: "High Heat"
              value: "8"
    rrseat:
      required: false
      selector:
        select:
          options:
            - label: "Off"
              value: "0"
            - label: "On"
              value: "1"
            - label: "Low Cool"
              value: "3"
            - label: "Medium Cool"
              value: "4"
            - label: "High Cool"
              value: "5"
            - label: "Low Heat"
              value: "6"
            - label: "Medium Heat"
              value: "7"
            - label: "High Heat"
              value: "8"
stop_climate:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
start_charge:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
stop_charge:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
lock:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
unlock:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
close_charge_port:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
open_charge_port:
  description: Open Charge Port
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
set_charge_limits:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
    dc_limit:
      required: false
      example: 50
      default: 90
      selector:
        number:
          min: 50
          max: 100
          step: 10
          unit_of_measurement: "%"
    ac_limit:
      required: false
      example: 50
      default: 90
      selector:
        number:
          min: 50
          max: 100
          step: 10
          unit_of_measurement: "%"
set_charging_current:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
    level:
      required: true
      selector:
        select:
          options:
            - label: "100%"
              value: "1"
            - label: "90%"
              value: "2"
            - label: "60%"
              value: "3"
set_windows:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
    flwindow:
      required: true
      selector:
        select:
          options:
            - label: "Close"
              value: "0"
            - label: "Open"
              value: "1"
            - label: "Ventilation"
              value: "2"
    frwindow:
      required: true
      selector:
        select:
          options:
            - label: "Close"
              value: "0"
            - label: "Open"
              value: "1"
            - label: "Ventilation"
              value: "2"
    rrwindow:
      required: true
      selector:
        select:
          options:
            - label: "Close"
              value: "0"
            - label: "Open"
              value: "1"
            - label: "Ventilation"
              value: "2"
    rlwindow:
      required: true
      selector:
        select:
          options:
            - label: "Close"
              value: "0"
            - label: "Open"
              value: "1"
            - label: "Ventilation"
              value: "2"
schedule_charging_and_climate:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
    charging_enabled:
      required: false
      default: false
      selector:
        boolean:
    first_departure_enabled:
      required: false
      default: false
      selector:
        boolean:
    first_departure_days:
      required: false
      example: '["0", "1"]'
      default:
        - "0"
      selector:
        select:
          multiple: true
          options:
            - label: Sunday
              value: "0"
            - label: Monday
              value: "1"
            - label: Tuesday
              value: "2"
            - label: Wednesday
              value: "3"
            - label: Thursday
              value: "4"
            - label: Friday
              value: "5"
            - label: Saturday
              value: "6"
    first_departure_time:
      required: false
      default: false
      selector:
        time:
    second_departure_enabled:
      required: false
      default: false
      selector:
        boolean:
    second_departure_days:
      required: false
      example: '["0", "1"]'
      default:
        - "0"
      selector:
        select:
          multiple: true
          options:
            - label: Sunday
              value: "0"
            - label: Monday
              value: "1"
            - label: Tuesday
              value: "2"
            - label: Wednesday
              value: "3"
            - label: Thursday
              value: "4"
            - label: Friday
              value: "5"
            - label: Saturday
              value: "6"
    second_departure_time:
      required: false
      default: false
      selector:
        time:
    off_peak_start_time:
      required: false
      default: false
      selector:
        time:
    off_peak_end_time:
      required: false
      default: false
      selector:
        time:
    off_peak_charge_only_enabled:
      required: false
      default: false
      selector:
        boolean:
    climate_enabled:
      required: false
      default: false
      selector:
        boolean:
    temperature:
      required: false
      example: 21.5
      default: 21
      selector:
        number:
          min: 17
          max: 85
          step: 0.5
          mode: box
          unit_of_measurement: Degrees
    temperature_unit:
      required: false
      example: "0"
      default: "0"
      selector:
        select:
          options:
            - label: Celsius
              value: "0"
            - label: Fahrenheit
              value: "1"
    defrost:
      required: false
      default: false
      selector:
        boolean:
start_hazard_lights:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
start_hazard_lights_and_horn:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
start_valet_mode:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
stop_valet_mode:
  fields:
    device_id:
      required: false
      selector:
        device:
          integration: kia_uvo
